* {
    box-sizing:border-box;
    }
    
    body{
    margin:0;
    background-color: black;
    text-align: center;
    }
    /*upper part of the website*/
    .upperimage{
        width: 100%;
        height:200px;
        overflow:hidden;
    }
    
    .upperimage img{
      width: 100%;
       object-fit: cover;
    }
    
    
    /* Navigation Bar */
    
    .navigatie{
        overflow: hidden;
      background-color: #394D29;
    }
    
    ul{
     list-style-type: none;
        margin: 0;
        padding:0;
        }
    
    
    .navigatie a{
       float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
         list-style-type: none;
    }
    
    .navigatie a:hover {
      background-color: #9ebb80;
      color: black;
    }
    .navigatie a.active {
      background-color: #abbf00;
      color: white;
    }
    
    ul.navigatie li{
     display:inline;
    }

   /* planning */
   .time-table{
    background-color: #226708e1;
      width: 97%;
      height: min-content;
      margin: 20px; 
      display: inline-block;
      overflow:hidden;
      border-radius:30px;
      border-style: solid;
      border-color:#386C0A;
      border-width: 5px;
      padding: 10px;
      
     } 

   table{
    background-color: grey;
    border-radius: 5px;
    width: 90%;
margin-left:auto;
margin-right:auto;
   }
   

   