* {
box-sizing:border-box;
}

body{
margin:0;
background-color: black;
width: 100%;
} 
/*upper part of the website*/
.upperimage{
    width: 100%;
    height:200px;
    overflow:hidden;
}

.upperimage img{
  width: 100%;
   object-fit: cover;
}


/* Navigation Bar */

.navigatie{
    overflow: hidden;
  background-color: #394D29;
}

ul{
 list-style-type: none;
    margin: 0;
    padding:0;
    }


.navigatie a{
   float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
     list-style-type: none;
}

.navigatie a:hover {
  background-color: #7B9A43;
  color: black;
}
.navigatie a.active {
  background-color: #386C0A;
  color: white;
}

ul.navigatie li{
 display:inline;
}

/* Introductie */
#introductie{

  padding:0;
  margin:20px;
  background-color: #226708e1;
  border-radius: 30px;
  width:97%;
  height:min-content;
  overflow:hidden;
  border: #386C0A solid 5px;
  padding: 10px;
}

.vlak1{
  margin-left: 20px;
  margin-top: 20px;
  margin-right:20px;
  padding: 10px;
  background-color: #386C0A;
  color: white;
  width: 47%;
  height: 80%;
  float:left;
  border-radius:25px;
  border-style:solid;
  border-color:black;
  
}

.vlak2{
  margin-right: 20px;
  margin-left:20px;
  margin-top:20px;
  padding: 10px;
  background-color: #386C0A;
  color: white;
  width: 47%;
  height: min-content;
  float:right;
  border-radius:25px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  text-align: center;
}


.photo1{
  float:left;
  width: 45%; 
  height: 33%;
  margin: 10px;
  }
.photo2{
  float: right;
  width: 45%;
  height:33%;
  margin:10px;
  }
  /* Style for the widget itself */
  .weatherwidget-io {
    display: inline-block !important;
    width: 100% !important;  /* Make widget fill the container */
    min-height: 150px !important; /* Set minimum height */
    background-color: #386C0A !important; /* Green background */
    color: #fff !important;  /* White text */
   
    box-sizing: border-box;
    border-radius: 25px;
}

.weather-widget-container {
  width: 100%;
  max-width: 100%;  /* Ensure it doesn't exceed container width */
  padding: 0;
  margin-right: 15px;
}
