*{
    box-sizing:border-box;
    }
    
    body{
    margin:0;
    background-color: black;
    width: 100%;
    font-family: 'Josefin Sans';
    } 
    /*upper part of the website*/
    .upperimage{
        width: 100%;
        height:200px;
        overflow:hidden;
    }
    
    .upperimage img{
      width: 100%;
       object-fit: cover;
    }
    
    
    /* Navigation Bar */
    
    .navigatie{
        overflow: hidden;
      background-color: #394D29;
    }
    
    ul{
     list-style-type: none;
        margin: 0;
        padding:0;
        }
    
    
    .navigatie a{
       float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
         list-style-type: none;
    }
    
    .navigatie a:hover {
      background-color: #7B9A43;
      color: black;
    }
    .navigatie a.active {
      background-color: #386C0A;
      color: white;
    }
    
    ul.navigatie li{
     display:inline;
    }

    .main-container{
        padding:0;
      margin:20px;
      background-color: #226708e1;
      border-radius: 30px;
      width:97%;
      height:min-content;
      overflow:hidden;
      border: #386C0A solid 5px;
      padding: 20px;
      text-align:center;
      justify-content: center;
      display:flex;
      flex-direction: column;
    }

   /* new */
   .plant-container{
    width: 100%;
    padding: 10px;
    background-color: #386C0A;
    border: black solid 4px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin:10px;  
    font-family: 'Josefin Sans';
   }
   .plant-container h1{
    margin:5px;
    font-size: 24px;
    font-family: 'Josefin Sans';
    font-weight: 600;
    color:white;
   }
   
   .days-container{
    width:16.6%;
    height:30px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center; 
   }

   .days-containerone{
    width:14.2%;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .days-container p{
    font-size: 18px;
   }
   
   .growth-container{   
    width:100%;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
    background:radial-gradient(ellipse, #f7f7f87e, transparent);
   }

   .week-container{
    width:100%;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
   }
.stage-container{
    width:16.6%;
    height:30px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center; 
    background: radial-gradient(ellipse at center,#2a5408, #386C0A);
    color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top:1px solid black;
   }
.stage-container:first-child{
  border-left:2px solid black;
}

.stage-container:last-child{
  border-right: 2px solid black;
}

.stage-containerone{
  width:14.2%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  background: radial-gradient(ellipse at center,#2a5408, #386C0A);
    color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top:1px solid black;
}

   .watering-container{
    width:100%;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
   }

   .watering-class{
    background: radial-gradient(ellipse at center, #0E87CC, #095d8e);
    width:16.6%;
    height:30px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top:1px solid black; 
    color:white;
   }
   .watering-class:first-child{
    border-left: 2px solid black;
   }
   .watering-class:last-child{
    border-right: 2px solid black;
   }

   .watering-classone{
    background: radial-gradient(ellipse at center, #0E87CC, #095d8e);
    width:14.2%;
    height:30px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top:1px solid black; 
    color:white;
   }

   .fertilizing-container{
    width:100%;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
   }
   .fertilization{
    width:16.6%;
    height:30px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center; 
    border-left:1px solid black;
    border-right:1px solid black;
    background:radial-gradient(ellipse at center, #80471C, #482810);
    color:white;
    border-top:1px solid black;
    border-bottom:1px solid black;
   }
   .fertilization:first-child{
    border-left:2px solid black;
   }
   .fertilization:last-child{
    border-right:2px solid black;
   }

   .fertilizationone{
    width:14.2%;
    height:30px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center; 
    border-left:1px solid black;
    border-right:1px solid black;
    background:radial-gradient(ellipse at center, #80471C, #482810);
    color:white;
    border-top:1px solid black;
    border-bottom:1px solid black;
   }





   /* table */
   table{
    border-collapse: collapse;
   }

   td{
    border:1px solid black;
   }
   
   th{
    border: 1px solid black;
    width: calc(100% / 70);
   }