* {
    box-sizing:border-box;
    }
    
    body{
    margin:0;
    background-color: black;
    text-align: center;
    }
    /*upper part of the website*/
    .upperimage{
        width: 100%;
        height:200px;
        overflow:hidden;
    }
    
    .upperimage img{
      width: 100%;
       object-fit: cover;
    }
    
    
    /* Navigation Bar */
    
    .navigatie{
        overflow: hidden;
      background-color: #112004;
    }
    
    ul{
     list-style-type: none;
        margin: 0;
        padding:0;
        }
    
    
    .navigatie a{
       float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
         list-style-type: none;
    }
    
    .navigatie a:hover {
      background-color: #9ebb80;
      color: black;
    }
    .navigatie a.active {
      background-color: #abbf00;
      color: white;
    }
    
    ul.navigatie li{
     display:inline;
    }

    /* body of the html */
    #main-page{
      background-color: #226708e1;
      width: 97%;
      height: min-content;
      margin: 20px; 
      display: inline-block;
      overflow:hidden;
      border-radius:30px;
      border-style: solid;
      border-color:#386C0A;
      border-width: 5px;
      padding: 10px;
    }

    /*Table decoration */
.first-table{
  background-color: #4a4a49;
  border-radius:30px;
  width: 100%;
  display: inline-block;
  padding: 10px;
  }
.second-table{
  background-color: #4a4a49;
  border-radius:30px;
  width: 100%;
  display: inline-block;
  padding: 10px;
    }
.third-table{
  background-color: #4a4a49;
  border-radius:30px;
  width: 100%;
  display: inline-block;
  padding: 10px;
}

h1{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }
.gap{
  background-color: transparent;
  width: 100%;
  height: 20px;
    }
table{
  color:white;
    width:100%;
font-family: Georgia, 'Times New Roman', Times, serif;
}
td{
  width: 7%;
  height: 25px;
border: solid black 1px;
}

table, td, tr, th{
  border-color:black;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}
.first-row{
  border-bottom-color:black;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-collapse:collapse;
}
.wit{
  background-color: #4a4a49;
}
.groen{
  background-color: green;
}
.geel{
  background-color: yellow;
}
.oranje{
  background-color: orange;
}

tr:hover{
  background-color: grey;
}
tr .wit:hover{
  background-color: grey;
}
tr .groen:hover{
  background-color:rgb(1, 193, 1);
}
tr .geel:hover{
  background-color: rgb(207, 207, 2);
}
tr .oranje:hover{
background-color: rgb(190, 124, 0);
}
.first-row{
  pointer-events: none;
}