* {
    box-sizing:border-box;
    }
    
    body{
    margin:0;
    background-color: black;
    text-align: center;
    }
    /*upper part of the website*/
    .upperimage{
        width: 100%;
        height:200px;
        overflow:hidden;
    }
    
    .upperimage img{
      width: 100%;
       object-fit: cover;
    }
    
    
    /* Navigation Bar */
    
    .navigatie{
        overflow: hidden;
      background-color: #394D29;
    }
    
    .headul{
     list-style-type: none;
        margin: 0;
        padding:0;
        }
    
    
    .navigatie a{
       float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
         list-style-type: none;
        position:relative;
    }
    
    .navigatie a:hover {
      background-color: #9ebb80;
      color: black;
    }
    .navigatie a.active {
      background-color: #abbf00;
      color: white;
    }
    
    ul.navigatie li{
        display:inline;
       }

    /* search bar */
    .search {
        display: flex;
        float:right;
        text-align: center;
        position:relative;
    } 
    
  

    .search input[type="text"] {
        padding: 6px;
        margin-right: 10px;
        border: none;
        font-size: 17px;
        border-radius: 4px; 
        position:absolute;
        right: 50px;
        top: 8px;
    }    
    .search button {
        padding: 6px 10px;
        background: white;
        color: green;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        position:absolute;
        right: 20px;
        top: 9px;
    }
    
    .search button i {
        font-size: 18px;
    }
    
    .search button:hover {
        background: darkgreen;
        color: white;
    }

    /*zadenzoektocht */
    .main-page{
        background-color: #226708e1;
          width: 97%;
          height: min-content;
          margin: 20px; 
          display: inline-block;
          overflow:hidden;
          border-radius:30px;
          border-style: solid;
          border-color:#386C0A;
          border-width: 5px;
          padding: 10px;
          
         } 
    .main-container{
        height:min-content;
    }     
    .under-container{
        border-color:black;
        border-style:solid;
        border-width:2px;  
        border-radius: 30px; 
        padding: 10px 10px 20px 10px;
        background: url(../zaden/Seedlings.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

         }
  
    .zoeken{
        text-align: center;
        display:block;
        box-sizing: border-box;
    }
    h2{
        font-size: 25px;
    }
    h1{
        font-size: 30px;
        padding: 20px;
    }
    .title-container{
        text-align:center;
        background-color: #386C0Adf;
        border-radius:20px;
    }
    .buttons-container{
        display:flex;
        justify-content: space-between;
        width: 100%;
         
    }
    .box{
        display:flex;
        justify-content: center;
        align-items: center;
        width:30%;
        text-align:center;
        background-color: #386c0adf;  
        padding:20px;
    }
    .zoeken{
        padding:20px;
        background-color: #386C0Adf;
        margin-top:10px;
        border-radius:20px;
    }
    .box h2{
        text-align:center;
        color:white;
    }
.selection1, .selection2, .selection3{
    display:block;
    border-radius:20px;
}

    .selection1a, .selection2a, .selection3a{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
  .btn1{
    width:70px;
    height:50px;
    margin:10px;
    border-radius: 15px;
    background-color: #254807;
    border:black solid 2px;
    color:white;
    font-size:14px;
   } 
.btn1:hover{
    transform: scale(1.1);
}
  .btn2{
    width:100px;
    height:50px;
    margin: 10px;
    border-radius:15px;
    background-color:#254807;
    border: black solid 2px;
    color:white;
    font-size: 14px;
    word-wrap: break-word;
  }
  .btn2:hover{
    transform: scale(1.1);
  }
  
  .btn3{
    width:90px;
    height:50px;
    font-size: 14px;
    margin:10px;
    border-radius:15px;
    background-color:#254807;
    border: black solid 2px;
    color:white;
    font-size: 14px;
  }
  .btn3:hover{
    transform: scale(1.1);
  }

 .zoeken h2{
    color:white;
    margin:10px;
 } 

 .zoeken input[type="text"]{
padding:10px 15px;
font-size: 16px;
border: #254807 2px solid;
border-radius:15px;
text-align:center;
background-color: #b0bea3;
color: black;
 }
 
 .middle{
    width: 100%;
    height: 40px;
background-color: transparent;
 }

 .MyUL{
    list-style-type: none;
    margin:0;
    padding: 0;
 }

 .MyUL li{
display:inline-block;
    justify-content: center;

 }
.groentezaden{
    background-image: url(../zaden/Seedlings.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:auto;
    border: black 2px solid;
    border-radius: 30px;
    display: inline-block;
}

.groente{
    width: 30%;
    height:400px;
    background-color: #386C0A;
    border-radius: 30px;
    border: black 2px solid;
    margin: 10px;
    position:relative;
}
.groente:hover{
    transform: scale(1.1);
}
.kruiden{
    width: 30%;
    height:400px;
    background-color: #386C0A;
    border-radius: 30px;
    border: black 2px solid;
    margin: 10px;   
    position: relative;
}
.bloemen{
    width: 30%;
    height:400px;
    background-color: #386C0A;
    border-radius: 30px;
    border: black 2px solid;
    margin: 10px;
    position: relative;
}
.fruit{
    width: 30%;
    height:400px;
    background-color: #386C0A;
    border-radius: 30px;
    border: black 2px solid;
    margin: 10px;
    position:relative;
}
.number{
position:absolute;
bottom: 50px;
font-size: 15px;
text-align: center;
left:50%;
font-family: Zilla Slab;
display: none;
}

.groente img{
    position:absolute;
    top: 60px;
    left: 25%;
    width: 50%;
    border: black 2px solid;
    border-radius: 15px;
    display: inline-block;
    z-index:1;
    
    }
.name{
    font-size: 20px;
    font-family: Zilla Slab;
    font-weight:bold;
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}    
.soort{
    font-size: 20px;
    font-family: Zilla Slab;
    font-weight:400;
    top:25px;
    display: inline-block;
    text-align:center;
    width: 80%;
}
.binnen-glas{
    font-size: 20px;
    font-family: Zilla Slab;
    font-weight:400;
   position:absolute;
   z-index: 2;
    width: 80%;
    top:70%;
    text-align: center;
    left:10%;
}
.buiten{
        font-size: 20px;
        font-family: Zilla Slab;
        font-weight:400;
       position:absolute;
       z-index: 3;
        width: 80%;
        top:80%;
        left:10%;
}
.oogst{
        font-size: 20px;
        font-family: Zilla Slab;
        font-weight:400;
       position:absolute;
       z-index: 4;
        width: 80%;
        top:90%;
        left:10%;
}





